header {
    height: 20vh;
    width: 100vw;
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    background-color: salmon;
    border: 1px black solid;
}
h1{
    display: inline-block;
    padding-top: 6%;
    margin: 0%;
    font-weight: bold;
    font-size: 3em;
}
h2{
    display: inline;
    padding: 0%;
    margin: 0%;
    padding: 3%;
    font-weight: normal;
    border: none;
}

h3{
    display: block;
    padding-top: 0%;
    margin: 0%;
    font-weight: bold;
    font-size: 2em;
}
h2{
    display: inline;
    padding: 0%;
    margin: 0%;
    padding: 3%;
    font-weight: normal;
    border: none;
}

body{
    padding: 0%;
    margin: 0%;
}
.html-box{
    height: 30vh;
    width: 80vw center;
    border: dotted black 5px;
    margin: 5px;
}
.CSS-box{
    height: 45vh;
    width: 80vw center;
    border: dotted black 5px;
    margin: 5px;
}
.HTML{
    display: block;
    width: 128px;
    height: 128px;
    float: left;
}
.CSS{
    display: block;
    width: 128px;
    height: 128px;
    float: right;
}